<div>
  <div>ID: <%= @user.id %></div>
  <div>Username: <%= @user.username %></div>
</div>

<%= link_to "Edit user", edit_user_path(@user.id) %>

<h1>Posts</h1>
<%@user.posts.each do |post|%>
  <%= link_to post.title, post_path(post.id) %>
  <br/>
<%end%>
